.notification {
  position: fixed;
  bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  z-index: 1000;
}

.notification.info {
  background-color: #007bff;
}

.notification.warning {
  background-color: #c62e16;
}
